@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #db0f5a, #BF1B68, black 108%);
    padding: 0px;
}

main {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 4px #321240;
    width: 1820px;
    padding: 10px;
    margin: auto;
} 

#header {
    background-color: rgba(110, 112, 90, 0.247);
    padding: 15px;
    text-align: center;
}

#aboutme {
    background-color: #ef77fa;
    padding: 10px;
}

#aboutme > h1 {
    margin: 0px;
}

#contact {
    padding: 10px;
    background-color: pink;
}

#contact > h2 {
    margin: 0px;
    text-align: center;
    color: white;
}

#contact > nav {
    margin-top: 10px;
    text-align: center;
}

#project {
    padding: 10px
}

#project > h2 {
    margin: 0px;
}

h1 {    
    background-color: black;
    font: bold 1.5em Arial, helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #80113a6e;
}

h2 {
    color: black;
}

p {
    text-align: justify;
}

ul {
    
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #db0f5a;
}

a.header {
    color: white;
    text-align: center;
    border: solid 3px rgb(255, 0, 0);
    padding: 5px;
    background-color: black;
}

a.header:hover {
    color: red;
    /*font:normal normal 17px arial, helvetica, sans-serif;*/
    font-size: 18px;
    font-weight: bold;
}

a.header:active {
    color: black;
}

a > img {
    padding: 5px;
}

img.contatos {
    width: 40px;
}

img.contatos:hover {
    width: 45px;
}

#project {
    text-align: left;
    background-color: #BF1B68;
    padding: 10px;
}

#project > h2 {
    text-align: center;
}

div#android {
    background-color: black;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: rgb(4, 73, 4);
    border-radius: 10px;
}

#android:hover > p {
    border-radius:  7px;
    background-color: white;
    padding: 5px;
}

footer > p {
    text-align: center;
    padding: 10px;
    display: block;
    background-color: black;
    margin: 15px 0px 0px 0px;
    color: white;
}