@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Poppins:wght@100;400;500;700&family=Sriracha&display=swap');

:root {
    --destaques: #fff;
    --padrao: #b3adad;
    --background: #000;
    --back-itens: #808080;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: black;
}

body::-webkit-scrollbar {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
}

h1, h2, h3, strong {
    color: var(--destaques);

}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin: 20px auto;
}

p {
    font: 700 normal 17px 'poppins';
}

header {
    background-color: black;
    color: var(--padrao);
    padding: 10px;
}

header > span#burguer_menu {
    float: right;
    cursor: pointer;
}

header > a.logo_portfolio {
    text-decoration: none;
    color: var(--padrao);
}

header > a.logo_portfolio:hover, header > nav#nav_profile li > a:hover {
    text-decoration: underline;
    color: var(--destaques);
}

header > nav {
    text-align: right;
    display: none;
}

header > nav > ul {
    display: block;
    list-style-type: none;
    text-align: center;
}

nav#nav_profile li > a {
    text-decoration: none;
    color: var(--padrao);
    display: block;
    padding: 7px;
}

section {
    background-color: var(--background);
    color: var(--padrao);
    padding: 10px;
    height: 100vh;
}

section > div {
    border-radius: 10px;
}

section:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.959);
    color: var(--padrao);
}

section#profile > div > p {
    margin-top: 20px;
    font-weight: normal;
    line-height: 30px;
}

section#profile > div#apresentacao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#projects, #skills, #contacts {
    text-align: center;
}

section#projects > div, #contacts > div {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--back-itens);
    color: black;
    font-size: 15px;
}

section#projects > div {
    width: 300px;
}

section#projects > div > p {
    margin: 10px 0px 35px 0px;
}

section#projects > div > a {
    background-color: var(--background);
    color: var(--destaques);
    padding: 10px;
    border-radius: 5px;
}

section#projects > div > a:hover {
    color: red;
}

section#contacts > div {
    width: 160px;
    height: 120px;
    margin: 40px auto;
}

section#contacts > div > p > a {
    color: black;
}

section#contacts > div > p > a:hover {
    color: var(--destaques);
}

section#skills > div {
    text-align: center;
    margin: 50px auto;
    background-color: var(--back-itens);
    color: black;
    font-size: 15px;
    padding: 20px;
    width: 120px;
    height: 120px;
}

footer {
    text-align: center;
    background-color: var(--background);
    padding: 7px;
    margin-top: 15px;
}

footer > p {
    margin: 0px;
    color: var(--padrao);
}

footer > p > a {
    color: var(--destaques);
}

footer > p > a:hover {
    color: red;
}