@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

body {
    background-image: linear-gradient(to bottom, #db0f5a, #BF1B68, black 108%);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 4px #321240;
    width: 600px;
    padding: 10px;
    margin: auto;
}

div {
    
}

header#header {
    background-color: rgba(112, 90, 90, 0.247);
}

section#aboutme {
    background-color: #ef77fa;
}

section#contact {
    background-color: pink;
}

#contact > h2 {
    text-align: center;
    content: "kfnajksn";
    color: white;
}

h1 {    
    color: black;
    text-align: center;
    text-shadow: 1px 1px 2px #80113a6e;
}

h2 {
    padding: 10px;
    color: black;
}

p {
    text-align: justify;
}

ul {
    
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #db0f5a;
}

a.header:hover {
    color: red;
    /*font:normal normal 17px arial, helvetica, sans-serif;*/
    font-size: 18px;
    font-weight: bold;
}

a.header:active {
    color: black;
}

a > img {
    padding: 5px;
}

img.contatos {
    width: 40px;
}

img.contatos:hover {
    width: 45px;
}